In [1]:
#variable

In [2]:
a=89

In [3]:
a

89

In [4]:
b=10

In [5]:
c=15

In [6]:
a*b*c

13350

In [7]:
a+b+c

114

In [8]:
t=(1,2,3)

In [9]:
t

(1, 2, 3)

In [10]:
type(t)

tuple

In [11]:
t=("a",'b',"'c'")

In [12]:
t

('a', 'b', "'c'")

In [13]:
t.index('b')

1

In [14]:
"b" in t

True

In [15]:
print(t[1:2])

('b',)

In [16]:
t=(1,"2")

In [17]:
t

(1, '2')

In [18]:
t.index(1)

0

In [19]:
t.index('2')

1

In [20]:
type(t)

tuple

In [21]:
t[0]

1

In [22]:
t[1]

'2'

In [23]:
#t[0]=3

#TypeError: 'tuple' object does not support item assignment

In [24]:
my_list=[7.5,9,14.5,10.4,'hello','python',True,False]

In [25]:
my_list

[7.5, 9, 14.5, 10.4, 'hello', 'python', True, False]

In [26]:
my_list[6]

True

In [27]:
i=input("Enter the number")

Enter the number10

In [28]:
i

'10'

In [29]:
i=float(input("Enter a number"))

Enter a number12

In [30]:
i

12.0

In [31]:
my_list

[7.5, 9, 14.5, 10.4, 'hello', 'python', True, False]

In [32]:
my_list[0]==1

False

In [33]:
my_list[0]=1

In [34]:
my_list

[1, 9, 14.5, 10.4, 'hello', 'python', True, False]

'list' object supports assignment operator.

In [35]:
my_list.append("'shayan'")

In [36]:
my_list

[1, 9, 14.5, 10.4, 'hello', 'python', True, False, "'shayan'"]

In [37]:
my_list.extend(["sk","kr"])

In [38]:
my_list

[1, 9, 14.5, 10.4, 'hello', 'python', True, False, "'shayan'", 'sk', 'kr']

In [39]:
my_list.insert(0,12)

In [40]:
my_list

[12, 1, 9, 14.5, 10.4, 'hello', 'python', True, False, "'shayan'", 'sk', 'kr']

In [41]:
my_list.remove(1)

Signature: my_list.remove(value, /)
Docstring:
Remove first occurrence of value.

Remove() is used to delete the element by "value"

In [42]:
help(my_list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

__add__(my_list, 120)

NameError: name '__add__' is not defined

my_list.add(120)

AttributeError: 'list' object has no attribute 'add'

In [43]:
my_list.count(9)

1

In [44]:
my_list.index(12)

0

In [45]:
my_list.index(1)

6

In [46]:
my_list

[12, 9, 14.5, 10.4, 'hello', 'python', True, False, "'shayan'", 'sk', 'kr']

my_list.index(6)

ValueError: 6 is not in list

In [47]:
my_list.pop()

'kr'

In [48]:
my_list

[12, 9, 14.5, 10.4, 'hello', 'python', True, False, "'shayan'", 'sk']

In [49]:
my_list.pop(1)

9

In [50]:
my_list

[12, 14.5, 10.4, 'hello', 'python', True, False, "'shayan'", 'sk']

In [51]:
my_list.reverse()

In [52]:
my_list

['sk', "'shayan'", False, True, 'python', 'hello', 10.4, 14.5, 12]

my_list.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

###### dict

In [53]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

dict.get??

In [54]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [55]:
dict

dict

In [56]:
d={"john":45,"sk":26,"raj":27
  }

In [57]:
type(d)

dict

In [58]:
d

{'john': 45, 'sk': 26, 'raj': 27}

In [59]:
d.keys()

dict_keys(['john', 'sk', 'raj'])

In [60]:
d.values()

dict_values([45, 26, 27])

In [61]:
d.items()

dict_items([('john', 45), ('sk', 26), ('raj', 27)])

In [62]:
d.get('John')

In [63]:
d.get('sk')

26

d.get(john)

NameError: name 'john' is not defined

In [64]:
d.get('john')

45

In [65]:
d["john"]

45

d.john

AttributeError: 'dict' object has no attribute 'john'

In [66]:
d1=d.copy()

In [67]:
d1

{'john': 45, 'sk': 26, 'raj': 27}

d1.pop()

TypeError: pop expected at least 1 argument, got 0

In [68]:
d1.clear()

In [69]:
d1

{}

In [70]:
d

{'john': 45, 'sk': 26, 'raj': 27}

In [71]:
# altering d1 does not affect d.

In [72]:
d1=d.copy()

In [73]:
d1

{'john': 45, 'sk': 26, 'raj': 27}

d1.pop(-1)

KeyError: -1

In [74]:
d1.pop('sk')

26

In [75]:
d1

{'john': 45, 'raj': 27}

In [76]:
d1.pop('sk',[12])

[12]

In [77]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [78]:
help(d1.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [79]:
help(dict.popitem)

Help on method_descriptor:

popitem(self, /)
    Remove and return a (key, value) pair as a 2-tuple.

    Pairs are returned in LIFO (last-in, first-out) order.
    Raises KeyError if the dict is empty.

In [80]:
d1.popitem()

('raj', 27)

In [81]:
d1

{'john': 45}

In [82]:
# popitem --> Pairs are returned in LIFO (last-in, first-out)

In [83]:
help(dict.setdefault)

Help on method_descriptor:

setdefault(self, key, default=None, /)
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [84]:
d1.setdefault(45)

In [85]:
d1.setdefault('john')

45

In [86]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

Update

In [87]:
print(d)
print(d1)

{'john': 45, 'sk': 26, 'raj': 27}
{'john': 45, 45: None}

In [88]:
d.keys()

dict_keys(['john', 'sk', 'raj'])

In [89]:
d.update(d1)

In [90]:
d

{'john': 45, 'sk': 26, 'raj': 27, 45: None}

In [91]:
d1

{'john': 45, 45: None}

In [92]:
d2={'john':47}

In [93]:
d.update(d2)

In [94]:
d

{'john': 47, 'sk': 26, 'raj': 27, 45: None}

In [95]:
#d.index()

#AttributeError: 'dict' object has no attribute 'index'

In [96]:
type(d)

dict

help(dict.remove)


AttributeError: type object 'dict' has no attribute 'remove'

In [97]:
d

{'john': 47, 'sk': 26, 'raj': 27, 45: None}

In [98]:
d['john']

47

In [99]:
d['john']=29;

In [100]:
d;

In [101]:
# dictionary supports assignment operator.

In [102]:
d

{'john': 29, 'sk': 26, 'raj': 27, 45: None}

In [103]:
#d["john":"raj"]

#TypeError: unhashable type: 'slice'

In [104]:
#d[0:1]

#TypeError: unhashable type: 'slice'

## Set

In [105]:
help(setattr)

Help on built-in function setattr in module builtins:

setattr(obj, name, value, /)
    Sets the named attribute on the given object to the specified value.

    setattr(x, 'y', v) is equivalent to ``x.y = v''

In [106]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [107]:
set_demo={1,1,2,2,3,3,3,8,7,'sk','python',15.2}

In [108]:
#set_demo.sort()

#AttributeError: 'set' object has no attribute 'sort'

In [109]:
set_demo

{1, 15.2, 2, 3, 7, 8, 'python', 'sk'}

In [110]:
set_demo={1,1,2,2,3,3,3,8,7,'sk','python',0.2}

In [111]:
set_demo

{0.2, 1, 2, 3, 7, 8, 'python', 'sk'}

In [112]:
set_demo={1,1,2,2,3,3,3,8,7,15.2,True}

In [113]:
set_demo

{1, 2, 3, 7, 8, 15.2}

In [114]:
l=[1,7,8,9,6,6,6,6,8,7,7,9,10,32,32]

In [115]:
l.sort()

In [116]:
l

[1, 6, 6, 6, 6, 7, 7, 7, 8, 8, 9, 9, 10, 32, 32]

Convert list to set

In [117]:
set(l)

{1, 6, 7, 8, 9, 10, 32}

In [118]:
list(set_demo)

[1, 2, 3, 7, 8, 15.2]

In [119]:
list(set(l))

[32, 1, 6, 7, 8, 9, 10]

In [120]:
k=['a','d','c','g']

In [121]:
k.sort

In [122]:
k

['a', 'd', 'c', 'g']

In [123]:
k.sort()

In [124]:
k

['a', 'c', 'd', 'g']

In [125]:
k.sort(reverse=True)

In [126]:
k

['g', 'd', 'c', 'a']

In [127]:
l.reverse()

In [128]:
l

[32, 32, 10, 9, 9, 8, 8, 7, 7, 7, 6, 6, 6, 6, 1]

In [129]:
l1=l.reverse

In [130]:
l1

In [131]:
l1()

In [132]:
l.reverse()

In [133]:
l

[32, 32, 10, 9, 9, 8, 8, 7, 7, 7, 6, 6, 6, 6, 1]

Reverse in-place

In [134]:
l

[32, 32, 10, 9, 9, 8, 8, 7, 7, 7, 6, 6, 6, 6, 1]

In [135]:
l.reverse

In [136]:
l

[32, 32, 10, 9, 9, 8, 8, 7, 7, 7, 6, 6, 6, 6, 1]

In [137]:
l.reverse()

In [138]:
l

[1, 6, 6, 6, 6, 7, 7, 7, 8, 8, 9, 9, 10, 32, 32]

In [139]:
l.sort(reverse=True)

In [140]:
l

[32, 32, 10, 9, 9, 8, 8, 7, 7, 7, 6, 6, 6, 6, 1]

In [141]:
set1 = set(l)

In [142]:
set1

{1, 6, 7, 8, 9, 10, 32}

In [143]:
print(set1)

{32, 1, 6, 7, 8, 9, 10}

In [144]:
set1

{1, 6, 7, 8, 9, 10, 32}

In [145]:
print(set1)

{32, 1, 6, 7, 8, 9, 10}

In [146]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [147]:
set1.update()

In [148]:
set1

{1, 6, 7, 8, 9, 10, 32}

In [149]:
set2={4,5.8,100}

In [150]:
set2.update(set1)

In [151]:
set2

{1, 4, 5.8, 6, 7, 8, 9, 10, 32, 100}

In [152]:
set1

{1, 6, 7, 8, 9, 10, 32}

In [153]:
a=10;b=20;c=30;d=40;e=50

In [154]:
(a,b)[c>d]

10

In [155]:
b if c>d else a

10

In [156]:
(lambda:a , lambda:b)[c>d]

In [157]:
(lambda:a , lambda:b)[c>d]()

10

In [158]:
(print(a),print(b))[c>d]

10
20

In [159]:
a="Hello"
c="hello"
if(a==c):
    {
        print("a is equal to b")
    }
else:
    {
        print("a is not equal")
    }

a is not equal

In [160]:
# if else 
# if elif else
# nested if else  condition

In [161]:
#(a==b) ? print("equal"): print("unequal")

#SyntaxError: invalid syntax

# This syntax is used in"C" Language.

In [162]:
a=10;b=20;c=30;d=40;e=50

In [163]:
if(a>b & a>c):
    print('a is greater than b')
elif(a==b | a==c):
    print("all three are equal")
else:
    print('a is smaller')

a is smaller

In [164]:
a='hello'
b='help'
c='help'
if(a==b and a==c):
    print("all same")
elif(a==b or a==c):
    print("atleast one same")
else:
    print("no same")

no same

In [165]:
a='hello'
b='help'
c='help'
if(a==b and a==c):
    print("all same")
elif(a==b or a==c):
    print("atleast one same")
else:
    print("no same")

no same

In [166]:
# in the case of string '&' , '|'   not work
# I have to use 'and','or'.
# In the case of numbers both work

# in the case of string '&' , '|'   not work
# I have to use 'and','or'.
# In the case of numbers both work

In [167]:
num=int(input('enter the variable: '))

enter the variable: 0

In [168]:
num

0

In [169]:
#  num --> positive , 0 , negative
num=int(input("enter the variable number"))
if(num>=0):
    if(num==0):
        print("The number is 0")
    else:
        print("number is positive")
else:
    print("number is negative")

enter the variable number0
The number is 0

Week 1 is end....Week 2 (Oops) will be conducted later after this week (this week Numpy will begin).

### Expert  Python session

#### Introduction Session (03-04-2021)

## Alternate video(1) for introductory session

In [170]:
?type

In [171]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object_or_name, bases, dict)
 |  type(object) -> the object's type
 |  type(name, bases, dict) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 880
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148291584
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [172]:
?sort()

Object `sort()` not found.

In [173]:
help('sort')

No Python documentation found for 'sort'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [174]:
#BItwise operator

In [175]:
5 and 6

6

In [176]:
4 and 6

6

In [177]:
#5 && 6   wrong

+------------------------------+---------------------+
|  Operator (other languages)  |  Operator (Python)  |
+==============================+=====================+
|              &&              |         and         |
+------------------------------+---------------------+
|              ||              |         or          |
+------------------------------+---------------------+
|              !               |         not         |
+------------------------------+---------------------+

&& -->  Logical and

Bit-wise

BIt-wise/binary:
    |  Logical operator  |  Bitwise operator  |
+====================+====================+
|        and         |         &          |
+--------------------+--------------------+
|         or         |         |          |
+--------------------+--------------------+
There is no bitwise negation in Python (just the bitwise inverse operator ~ - but that is not equivalent to not).

& -- and
| -- or
^ -- xor
~ -- Not
<< -- left shift(/2/2/2....)
>> -- right shift(*2 *2 *2 ...)

In [178]:
>>> def print_and_return(value):
...     print(value)
...     return value

>>> res = print_and_return(False) and print_and_return(True)
False

False

False

In [179]:
5 and 6

6

In [180]:
5 and 10

10

In [181]:
5 & 6    # bitwise and

4

5 --> 101
6 --> 110
and --> 100 => 4

In [182]:
5 or 6

5

In [183]:
5 | 6

7

In [184]:
~5

-6

In [185]:
-5

-5

In [186]:
~8

-9

In [187]:
~0

-1

In [188]:
~1

-2

In [189]:
5^6

3

In [190]:
5 >> 1   #right shift bitwise operator

2

In [191]:
5 << 1   #left shift bit-wise operator

10

In [192]:
5<<3

40

In [193]:
17>>2

4

Identity operator
1. is
2. isnot

In [194]:
a=5123
b=5123
c=a

In [195]:
print(a,b,c)

5123 5123 5123

In [196]:
a==b

True

In [197]:
a==c

True

In [198]:
b==a

True

In [199]:
a is b

False

In [200]:
a is c

True

In [201]:
 c is a

True

In [202]:
id(a)

1591178891984

In [203]:
id(b)

1591178894576

In [204]:
id(c)   # same a sof (a)

1591178891984

if number <256
i.e. number less than 8 bits
memory is less than 8 bits

In [205]:
a=21
b=21
c=a

In [206]:
b is a
# peviously it is False because number is greater than 255
# numbers requires more than 8 bits memeory

True

In [207]:
#Membership operator

In [208]:
"a" in "matt"

True

In [209]:
"A" in "Matt"

False

In [210]:
"A" not in "Matt"

True

In [211]:
my_str="This is  Python"

In [212]:
len(my_str)

15

In [213]:
my_str[0]

'T'

In [214]:
my_str[14]

'n'

In [215]:
my_str[-1]

'n'

In [216]:
my_str[:4]

'This'

In [217]:
my_str[0:4:2]

'Ti'

In [218]:
my_str[: :]

'This is  Python'

In [219]:
my_str[:]

'This is  Python'

In [220]:
my_str

'This is  Python'

In [221]:
my_str[::1]

'This is  Python'

In [222]:
my_str[::2]

# skip 1 element after each element

'Ti s yhn'

In [223]:
# skip 2 elements
my_str[::3]

'TssPh'

In [224]:
# Reversing the string

my_str[::-1]

'nohtyP  si sihT'

In [225]:
my_str.center(22)

'   This is  Python    '

In [226]:
my_str.capitalize()

'This is  python'

In [227]:
my_str.lower()

'this is  python'

In [228]:
#help(str)

In [229]:
my_str.upper()

'THIS IS  PYTHON'

In [230]:
my_str

'This is  Python'

In [231]:
my_str.capitalize()

'This is  python'

In [232]:
my_str.count("h")

2

In [233]:
my_str[1]

'h'

In [234]:
?string

Object `string` not found.

In [235]:
?type

In [236]:
?print

In [237]:
ID=1001
Name = "John"
Marks = 98.75

In [238]:
print(ID,Name,Marks)

1001 John 98.75

In [239]:
type(ID)

int

In [240]:
type(Name)

str

In [241]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [242]:
ID,Name,Marks= 1001,"John",98.75

In [243]:
a=b=c=10

In [244]:
print(a,b,c)

10 10 10

In [245]:

print('%s is %d years old'%("Joe",42))

Joe is 42 years old

In [246]:
# print(f"")

In [247]:
a=b=c=10

In [248]:
print(a,b,c)

10 10 10

In [249]:
c=12
print(a,b,c)

10 10 12

In [250]:
a=10
b=a

In [251]:
print(a,b)

10 10

In [252]:
a=12
print(a,b)

12 10

In [253]:
a=10
b=a

In [254]:
b=1
print(a,b)

10 1

Python Tokens

In [255]:
'''In Python, every logical line of code is broken down into 
components known as 'Tokens'. '''

"In Python, every logical line of code is broken down into \ncomponents known as 'Tokens'. "

Keywords

In [256]:
print( "Keywords in Python are", 
      'True False None and as',
      'Asset def class continue break',
      'else finally elif del except',
      'global for if from import',
      'raise try or return pass',
      'nonlocal in not is lambda' )

Keywords in Python are True False None and as Asset def class continue break else finally elif del except global for if from import raise try or return pass nonlocal in not is lambda

Identifiers

An <b>identifier</b> is the name used to identify a variable.function,class.or object.

Rules for naming an identifier.

In [257]:
1.

1.0

In [258]:
def max_2(a,b):
    if a>b:
        print("max_value is: ",a)
    else:
        print("max_value is: ",b)

In [259]:
max_2(10,-10)

max_value is:  10

In [260]:
def max_3(x,y,z):
    return(max_2(x,max_2(y,z)))

In [261]:
# max_3(10,15,-8)

In [262]:
def max_2(a,b):
    if a>b:
        return(a)
    else:
        return(b)

In [263]:
def max_3(x,y,z):
    return(max_2(x,max_2(y,z)))

In [264]:
max_3(10,12,-10)

12

If there is a large numbers of list ,then we have to find out the largest among those

In [265]:
def max_n(*args, **kwargs):
    # *args --> means --> any numbers of unnamed arguments
    # **kwargs --> means--> any numbers of named argument.
    for i in args:
        print(i)

In [266]:
max_n(1,2,3,4,5)

1
2
3
4
5

In [267]:
def max_n(*args, **kwargs):
   
    for i in kwargs:
        print(i)

In [268]:
max_n(a,b,c)

In [269]:
max_n(a=1,b=2,c=3,d=4)

a
b
c
d

In [270]:
def max_n(*args, **kwargs):

    for i in kwargs.items():
        print(i)

In [271]:
max_n(a=1,b=2,c=3)

('a', 1)
('b', 2)
('c', 3)

In [272]:
def max_n(*args, **kwargs):

    for i,j in kwargs.items():
        print(j)

In [273]:
max_n(a=1,b=2,c=3)

1
2
3

In [274]:
def max_n(*args, **kwargs):
    for i in args:
        print(i)
    for i,j in kwargs.items():
        print(j)

In [275]:
max_n(11,12,13,a=1,b=2)

11
12
13
1
2

In [276]:
def max_n(*args, **kwargs):
    max_num = None
    for i in args:
        if max_num is None:
            max_num = i
        else:
            max_num = max_2(max_num,i)
    for i, j in kwargs.items():
        if max_num is None:
            max_num = j
        else:
            max_num = max_2(max_num,j)
    return max_num

In [277]:
max_n(11,12,13,a=1,b=2)

13

### Alternatevideo(2) for introduction Session
### END

# LEC: 04/04/2021

### 4th Lecture

### List, tuple,dict, set, for-loop, while-loop, functions,

## END

## LEC : 10/04/2021 
   ## it's on another file (Python_Intellipaat(Part-1)).

### file-handling

## END

## LEC : 11/04/2021
## it's on another file (Python_Intellipaat(Part-1)).

### NUMPY Cont..

## Pandas

In [278]:
from pandas import Series, DataFrame

import pandas as pd

Series

A Series is a one-dimensional array-like object containing an array of data (of any
NumPy data type) and an associated array of data labels, called its index.

In [279]:
obj = Series([4, 7, -5, 3])

In [280]:
obj

0    4
1    7
2   -5
3    3
dtype: int64